<h1>{{title}}</h1>

<form>
Num1: <input type="number" [(ngModel)]="num1" name="num1"> &nbsp;
<br/><br/>
Num2: <input type="number" [(ngModel)]="num2" name="num2"><br/><br/>
<input type="submit" value="+" (click)="sum()">&nbsp;
<input type="submit" value="-" (click)="sub()">&nbsp;
<input type="submit" value="/" (click)="div()">&nbsp;
<input type="submit" value="x" (click)="mul()">&nbsp;
<input type="submit" value="√" (click)="sqrt()">&nbsp;
<input type="submit" value="^" (click)="pow()">&nbsp;
<br/>
<br/>
<p>{{textResult}}{{result}}</p>
</form>
