#calc {
    background: #303030;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-family: Helvetica;
}

#output {
    background: white;
    display: block;
    color: black;
    padding: 5px;
    border-radius: 5px;
    text-align: right;
}

input.calcbtn, input.calcnum, input.calcreset {
    border-radius: 8px;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 20px;
    font-family: Helvetica;
    border: 0px;
}

input.calcsolve {
    border-radius: 8px;
    height: 35px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: Helvetica;
    border: 0px;
}

input.calcbtn {
    background: #17b4e8;
    color: black;
}

input.calcreset {
    background: #464646;
    color: white;
}

input.calcbtn:hover {
    background: black;
    color: white;
}

input.calcnum {
    background: #5a5a5a;
    color: white;
}

input.calcnum:hover, input.calcreset:hover {
    background: black;
}

input.calcsolve {
    background: #2fb046;
}

input.calcsolve:hover {
    background: black;
    color: white;
}

span#result {
    background: #101010;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}