<table id="calc">
    <tr>
        <td>
            <h1>{{title}}</h1>
        </td>
    </tr>
    <tr>
        <td>
            <form>
                <span [innerHTML]="output" id="output"></span>
                <br/>
                <table style="margin: auto">
                    <tr>
                        <td>
                            <input class="calcbtn" type="submit" value="√" (click)="setOperator('√')">
                        </td>
                        <td>
                            <input class="calcbtn" type="submit" value="^" (click)="setOperator('^')">
                        </td>
                        <td>
                            <input class="calcbtn" type="submit" value="log" (click)="setOperator('log')">
                        </td>
                        <td>
                            <input class="calcbtn" type="submit" value="n!" (click)="setOperator('!')">
                        </td>
                    </tr>                    
                    <tr>
                        <td>
                            <input class="calcnum" type="submit" value="7" (click)="number(7)">
                        </td>
                        <td>
                            <input class="calcnum" type="submit" value="8" (click)="number(8)">
                        </td>
                        <td>
                            <input class="calcnum" type="submit" value="9" (click)="number(9)">
                        </td>
                        <td>
                            <input class="calcbtn" type="submit" value="*" (click)="setOperator('*')">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="calcnum" type="submit" value="4" (click)="number(4)">
                        </td>
                        <td>
                            <input class="calcnum" type="submit" value="5" (click)="number(5)">
                        </td>
                        <td>
                            <input class="calcnum" type="submit" value="6" (click)="number(6)">
                        </td>
                        <td>
                            <input class="calcbtn" type="submit" value="-" (click)="setOperator('-')">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="calcnum" type="submit" value="1" (click)="number(1)">
                        </td>
                        <td>
                            <input class="calcnum" type="submit" value="2" (click)="number(2)">
                        </td>
                        <td>
                            <input class="calcnum" type="submit" value="3" (click)="number(3)">
                        </td>
                        <td>
                            <input class="calcbtn" type="submit" value="+" (click)="setOperator('+')">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input class="calcnum" type="submit" value="0" (click)="number(0)">
                        </td>
                        <td>
                            <input class="calcnum" type="submit" value="C" (click)="reset()">
                        </td>
                        <td>
                            <input class="calcbtn" type="submit" value="=" (click)="solve()">
                        </td>
                    </tr>
                </table>
                <p><span id="result">{{result}}</span></p>
            </form>
        </td>
    </tr>
</table>